<footer>
  <div class="container">
    <p>Made with care for Ella Rises</p>
    <p>&copy; <%= new Date().getFullYear() %> Ella Rises. Empowering women in STEAM.</p>
    <p><a href="/teapot" title="I'm a teapot!">Teapot</a></p>
  </div>
</footer>
