<footer>
  <div class="container">
    <img src="/images/EllaRisesTextLogo2.png" alt="Ella Rises" style="height: 5rem; width: auto; margin-top: 0.7rem; margin-bottom: -0.3rem; margin-left: 1rem; filter: brightness(0) invert(1);">
    <p style="margin-top: -0.5rem;"><a href="/teapot" title="I'm a teapot!" style="font-family: 'DM Serif Display', serif; font-size: 1.3rem;">Teapot</a></p>
  </div>
</footer>
